html, body {
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background: red;
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}

.container-a {
    height: 50px;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
}

.container-b {
    height: 40px;
    width: 100%;
    background: yellow;
    
}